<nav class="sidebar-nav" [class.expanded]="isMenuOpen">
  <div class="nav-header">
    <a routerLink="/" class="logo-container">
      <img
        src="https://images.squarespace-cdn.com/content/v1/5ccbf1d3af468332420ae5e1/29cace80-077c-4a83-b165-c29a38b583d8/embleem_transp_white_1700.png"
        alt="CloudMen Logo"
        class="nav-logo"
      />
    </a>
  </div>

  <div class="nav-items">
    <ng-container *ngFor="let item of navItems">
      <a [routerLink]="item.route" routerLinkActive="active" class="nav-item">
        <div class="icon-wrapper">
          <span class="material-icons">{{ item.icon }}</span>
        </div>
        <span class="nav-text">{{ item.label }}</span>
      </a>
    </ng-container>
  </div>

  <div class="nav-footer">
    <button class="nav-item logout-btn" (click)="handleLogout()">
      <div class="icon-wrapper">
        <span class="material-icons">logout</span>
      </div>
      <span class="nav-text">Logout</span>
    </button>
  </div>
</nav>

<!-- Mobile Toggle Button -->
<button class="mobile-toggle" (click)="toggleMenu()">
  <span class="mobile-toggle-icon material-icons">{{
    isMenuOpen ? "close" : "menu"
  }}</span>
</button>

<!-- Add this modern logout modal to your navbar component HTML -->
<div
  class="logout-modal-backdrop"
  *ngIf="showLogoutModal"
  (click)="closeLogoutModal()"
></div>

<div class="logout-modal" *ngIf="showLogoutModal">
  <div class="logout-modal-content">
    <div class="logout-modal-header">
      <h3>Confirm Logout</h3>
      <button class="close-button" (click)="closeLogoutModal()">
        <svg
          width="14"
          height="14"
          viewBox="0 0 14 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13 1L1 13M1 1L13 13"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </div>
    <div class="logout-modal-body">
      <p>Are you sure you want to log out of your account?</p>
    </div>
    <div class="logout-modal-footer">
      <button class="cancel-button" (click)="closeLogoutModal()">Cancel</button>
      <button class="confirm-button" (click)="confirmLogout()">Log out</button>
    </div>
  </div>
</div>
